
body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

div{
    width: 400px;
    height: 400px;
    border-radius: 20px;
    margin: auto;
    font-size: 10px;
}

h1, h2{
    text-align: center;
}



#conic{
    background: conic-gradient(red, orange, yellow);
}


#conic1{
    background: conic-gradient(from 180deg, red, orange, yellow);
}

#conic2{
    border-radius: 50%;
    background: conic-gradient(red 0deg 120deg, orange 120deg 240deg, yellow 240deg 360deg);
}

#conic3{
    border-radius: 50%;
    background: conic-gradient(red 0% 33.3% , orange 33.3% 66.6%, yellow 66.6% 100%);
}

#conic4{
    background: conic-gradient(at 75% 25%, black, orange);
}

#conic5{
    background: repeating-conic-gradient(black 0deg 10deg, blue 10deg 20deg);
}

#conic6{
    background: repeating-conic-gradient(red 10%, black 20%);
}




