body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

textarea{

    width: 10cm;
    height: 150px;

}



#text5{
    resize:horizontal
}


#text6{
    resize:vertical
}


#text7{
    resize:none
}

input{
    background-color: rgb(199, 190, 190);
}