body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

p{ 
    border: 2px solid black;
    height: 30px;
    margin: 10px 0px ;

}

h1{
    text-align:center;

}

#px{

    width: 350px;
    background-color: red;

}

#cm{
    width: 12cm;
    background-color: green;

}

#mm{

    width: 150mm;
    background-color:blue;

}

#in{
    width: 12in;
    background-color: yellow;

}

#pt{

    width: 300pt;
    background-color: orange;


}

#pc{ width: 32pc;
    background-color: blueviolet;

}
