
body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


div{
    background-color: cyan;
       
    padding: 100px;
    
    
    
}

.verde{
    background-color: greenyellow;
    padding: 10px;
    
    

}