body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}

h1{
    text-align: center;
}

div{
    margin: 40px 0px;
}

#imagem-1{filter: brightness(200%); 
    border: 1px solid black ;

}

#imagem-2{filter: brightness(50%); 
    border: 1px solid black ;

}

#imagem-3{filter: blur(3px); 
    border: 1px solid black ;

}

#imagem-4{filter: grayscale(50%); 
    border: 1px solid black ;

}

#imagem-5{filter: grayscale(0%); 
    border: 1px solid black ;

}

#imagem-6{filter: contrast(200%); 
    border: 1px solid black ;

}

#imagem-7{filter: contrast(25%); 
    border: 1px solid black ;

}

#imagem-8{filter: drop-shadow(0px 10px 5px red); 
    border: 1px solid black ;

}

#imagem-9{filter: invert(100%); 
    border: 1px solid black ;

}

#imagem-10{filter: saturate(20%); 
    border: 1px solid black ;

}

#imagem-11{filter: saturate(400%); 
    border: 1px solid black ;

}

#imagem-12{filter: sepia(75%); 
    border: 1px solid black ;

}

#imagem-13{filter: blur(3px) brightness(50%) invert(100%); 
    border: 1px solid black ;

}


