body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1{
    text-align: center;
}

p{
    
    border: 2px solid black;
    height: 30px;
    margin: 10px 0px ;
}

#per{

    width: 50%;
    background-color: red;

}

#vw{
    width: 50vw;
    background-color: green;

}

#vh{

    width: 50vh;
    background-color:blue;

}

#vmin{
    width: 50vmin;
    background-color: yellow;

}

#vmax{

    width: 50vmax;
    background-color: orange;


}

#em{

    width: 50em;
    background-color: violet;


}

#rem{

    width: 50rem;
    background-color: purple;


}

#ch{

    width: 50ch;
    background-color: lightskyblue;


}

#ex{

    width: 50ex;
    background-color: brown;


}









