.center{
    text-align: center;
}

body{
    background-color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.amarelo{
    background-color: yellow;
    color: white;
}

#especial{
    text-align: justify;
    color: white;
    background-color: blue;
    border: 4px dashed red;
}